*{
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;

}

body{
    height: 100vh;
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #687a8d, #67798a );
}

.main{
    position: relative;
    height: 80%;
    width: 80%;
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #5D6D7E, #566573 );
    
}

.main button{
    padding: 10px 12px; 
    margin: 0 10px;

}

.main #logo{
    position: absolute;
    top: 10px;
    left: 30px;
    font-size: 25px;
    color: #ccc;
    text-transform: capitalize;
}

.main #logo i{
    margin-right: 15px;

}


/* left and right part */

.right , .left{
    position: relative;
    height: 100%;
    width: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}


/*song image  */

.left img{
    height: 300px;
    width: 80%;
    border-radius: 15px;
    box-shadow: 1px 0px 20px 12px rgba(240,240,240,0.2);

}

/*both range slider*/

input[type="range"]{
    -webkit-appearance: none;
    width: 50%;
    outline: none;
    height: 2px;
    margin: 0 15px;
}

input[type="range"]::-webkit-slider-thumb{
    -webkit-appearance: none;
    height: 20px;
    width: 20px;
    background: #FF8A65;
    border-radius: 50%;
    cursor: pointer;

}

.right input[type="range"]{
    width: 40%;

}

/*volume part */
.left .volume{
    position: absolute;
    bottom: 10%;
    left: 0;
    width: 100%;
    height: 30px;
    display: flex;
    align-items: center;
    justify-content: center;
    color: #fff;

}

.left .volume p{
    font-size: 15px;

}

.left .volume i{
    cursor: pointer;
    padding: 8px 12px;
    background: #FF8A65;
}

.left .volume i:hover{
    background: rgba(245,245,245,0.1);
}

.volume #volume_show{
    padding: 8px 12px;
    margin: 0 5px 0 0;
    background: rgba(245,245,245,0.1);

}

/*right part  */


.right .middle{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;

}

.right .middle button{
    border: none;
    height: 70px;
    width:  70px;
    border-radius: 50px;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    outline: none;
    transition: 0.5s;
    background: rgba(245,245,245,0.1);

}

.right #title{
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 35px;

}

.right #artist{
    position:  absolute;
    top: 110px;
    left: 50%;
    transform: translateX(-50%);
    text-transform: capitalize;
    color: #fff;
    font-size: 18px;
}

.right .duration{
    position:  absolute;
    bottom: 20%;
    left: 50%;
    transform: translateX(-50%);
    display: flex;
   align-items: center;
   justify-content: center;
   width: 100%;
   height: 20px;
   margin-top: 40px;

}

.right .duration p{
    color: #fff;
    font-size: 15px;
    margin-left: 20px;

}

.right #auto{
    font-size: 18px;
    cursor: pointer;
    margin-top: 45px;
    border: none;
    padding: 10px 14px;
    color: #fff;
    background: rgba(245,245,245,0.2);
    outline: none;
    border-radius: 10px;

}

.right #auto i{
    margin-left: 8px;
}

#play{
    background: #FF8A65;
}

.right button:hover{
    background: #FF8A65;
}

.right i:before{
    color: #fff;
    font-size: 20px;
}

.right .show_song_no{
    position: absolute;
    top: 10px;
    right: 10px;
    width: 40px;
    height: 25px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 8px 12px;
    color: #fff;
    border-radius: 5px;
    background: rgba(255,255,255,0.2);
}

.right .show_song_no p:nth-child(2){
    margin: 0 5px;
    
}

.popup {
    position: absolute;
    top:-150%;
    left: 50%;
    opacity: 0;
    transform: translate(-50%,-50%) scale(1.25);
    width: 380px;
    padding: 20px 30px;
    background: #fff;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    border-radius: 5px;
    transition: top 0ms ease-in-out 200ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}

.popup.active{
    top: 50%;
    opacity: 1;
    transform: translate(-50%,-50%) scale(1);
    transition: top 0ms ease-in-out 0ms,
    opacity 200ms ease-in-out 0ms,
    transform 20ms ease-in-out 0ms;
}
.popup .close-btn{
    position: absolute;
    top:10px;
    right: 10px;
    width: 15px;
    height: 15px;
    color: #FF8A65;
    text-align: center;
    line-height: 15px;
    cursor: pointer;
}

.popup .form h2{
    text-align: center;
    color: #FF8A65;
    margin: 10px 0px 20px;
    font-size: 25px;

}

.popup .form .form-element{
    margin: 15px 0px;
}

.popup .form .form-element label{
    font-size: 14px;
    color: #FF8A65;

}

.popup .form .form-element input[type="text"]{
    margin-top: 5px;
    display: block;
    width: 100%;
    padding: 10px;
    outline: none;
    border: 1px solid #FF8A65;
    border-radius: 5px;

}

.popup .form .form-element button{
    width: 100%;
    height: 40px;
    border: none;
    outline: none;
    font-size: 15px;
    background: #FF8A65;
    color: #fff;
    cursor: pointer;
    border-radius: 10px;
}

.uplaod_song_button{
    padding: 10px;
    width: 30%;
    height: 30px;
}

.custum-text{
    margin-left: 10px;
    color: #566573;
    font-size: 14px;
}

.custom-choose{
    display: flex;
    align-items:center;
    justify-content:center;
    margin-right:35px;
    margin-top: 5px;
    width: 285px;
}
.custom-choose span{
    margin-left: 10px;
}

.song_list{
    background: #566573;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    width: 450px;
    padding: 0px 0px;
}

 .list-nav{
    background: #566573;
    width: 100%;
    margin-top: 0px;
    outline: none;
    border-radius: 5px;
    padding: 10px 10px;
    position: fixed;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
}
.nav-item{
    display: flex;
    padding: 0px 0px;
    align-items: center;
    justify-content: center;
}

.play-all-button button{
    background: #FF8A65;
    outline: none;
    border-radius: 15px;
    border: none;
    align-items: center;
    justify-content: center;
    color: #fff;
    
    margin-right: 150px;
    padding: 5px 10px;
}

.search-bar{
    display: flex;
    
}
.search-bar input{
    position: relative;
    background: rgba(255, 255, 255, 0.212);
    outline: none;
    border: none;
    border-radius: 15px;
    height: 30px;
}

.search-bar .serach-icon{
    position: absolute;
    background: #FF8A65;
    margin-left: 130px;
    border-radius: 15px;
    width: 40px;
    align-items: center;
    justify-content: center;
    padding: 6px 12px;
    cursor: pointer;
}
.serach-icon{
    align-items: center;
    justify-content: center;
    margin-left: 10px;
    height: 30px;
    cursor: pointer;
    
}
.search-bar .serach-icon i{
    color: #fff;
    margin-top: -20px;
    cursor: pointer;
}
.show-list{
    padding: 50px 15px;
    height: 500px;
    overflow:scroll;
}
.show-list::-webkit-scrollbar {
    display: none;
  }
.song-item{
    background: #ff896525;
    height: 50px;
    box-shadow: 2px 2px 5px 5px rgba(0, 0, 0, 0.062);
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 10px;
    padding: 25px 0px;
    margin-top: 10px;
    gap: 30px 80px;
}

.song-item img{
    height: 50px;
    width: 15%;
    border-radius: 15px;
    
}

.song-item p{
    color: #fff;
}

.song-action ul{
    display: flex;
    gap: 30px 10px;
}

.action-button{
    background: rgba(255,255,255,0.2);
    align-items: center;
    justify-content: center;
    padding: 2px 7px;
    border-radius: 5px;
}
.action-button i{
    color: #fff;
}

.song-item:hover{
    transition: ease-out;
    box-shadow: 2px 2px 5px 5px rgba(0,0,0,0.15);
    width: 430px;
    margin-right: 20px;
}

.playlis_popup{
    align-items: center;
    justify-content: center;
    background: radial-gradient(rgba(137, 151, 186, 1),rgba(0, 0, 0, 0.77));
    border-radius: 5px;
    padding: 0px 0px 290px 0px;
    width: 900px;
    height: 500px;
}

.search_and_play{
    background: rgba(204, 206, 209, 0.1);
    height: 200px;
    width: 100%;
    border-radius: 5px;
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.25);
}

.playlist-list{
    height: 150px;
    background: rgba(174, 179, 191, 0.17);
    display: flex;
    column-gap: 20px;
    padding: 15px 20px;
    box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.25);
}

.playlist-list img{
    border-radius: 5px;
    height: 120px;
    width: 125px;
    cursor: pointer;
}

.add-playlist{
    border-style: dotted;
    border-radius: 5px;
    height: 120px;
    width: 125px;
    border-width: 2px;
    border-color: rgba(0, 0, 0, 0.31);
    font-size: 100px;
    text-align: center;
    color: rgba(255, 90, 1, 0.445);
    cursor: pointer;
}
.playlist-img-div{
    display: flex;
    column-gap: 20px;
    width: 710px;
    height: 125px;
    overflow: scroll;
    border-radius: 5px;
    scrollbar-color: #FF8A65;
}

.playlist-img-div::-webkit-scrollbar {
    display: none;
  }

  .cd{
      justify-content: center;
      align-items: center;
      border-radius: 50%;
  }
 .cd img{
     border-radius: 50%;
}
  .icon{
      justify-content: center;
      align-items: center;
      margin-top: -70px;
    text-align: center;
    color: #fff;
    cursor: pointer;
  }
  .icon i{
      color: #FF8A65;
  }

  .play_button_search{
      display: flex;
      padding: 15px 20px;
      column-gap:20px;
  }

  .play{
      background: #FF8A65;
      border-radius: 5px;
      outline: #FF8A65;
      border: #FF8A65;
      justify-content: center;
      text-align: center;
      padding: 5px 10px 5px 10px;
      color: #fff;
  }

  .search-input{
    height: 25px;
    background-color: transparent;
    border: 1px solid #FF8A65;
    border-radius: 5px;
    text-align: left;
    outline: none;
    color: #fff;
    padding: 10px 10px 10px 25px;
    margin-left: -25px;
    display: none;
  }

  .search-input::placeholder {
    color: #fff;
    opacity: 0.5; /* Firefox */
  }
  .search-active{
    display: none;
    
  }

  .search-input-i{
    color: #FF8A65;
    display: none;
  }

  .list-songs{
      height: 42vh;
      width: 100%;
      padding: 20px 20px;
      overflow: scroll;
      padding-top: 0;
      padding-bottom: 0;
  }

  .list-songs::-webkit-scrollbar {
    display: none;
  }

  .songs{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 540px;
      height: 10vh;
      border: 1px solid #03010041;
      border-radius: 5px;
      padding: 0;
      margin-top: 7px;
  }

  .songs:hover{
      background: rgba(204, 204, 204, 0.089);
  }

  .image-name{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 10px;
  }

  .image-name img{
      width: 70px;
      height: 10vh;
      padding-top: 1px;
      margin-top: 3px;
      border-radius: 5px;
      margin-right: 5px;  
    }

  .song-name-singer{
      position: relative;
      color: #fff;
      font-weight: 100px;
      font-size: large;
      row-gap: 10px;
      text-align: left;
      line-height: 15px;
      overflow: hidden;
      height: 35px;
      width: 65px;
  }

  .song-name-singer span{
      color: #FF8A65;
      font-size: x-small;
  }

  .song-name-singer p{
      overflow: hidden;
      height: 15px;
  }

  .action-btn{
      display: flex;
      justify-content: center;
      align-items: center;
      column-gap: 30px;
     margin-right: 20px;
  }

  .play-btn{
      border: 1px solid #ff89656b;
      border-radius: 50%;
      box-shadow: 0px 0px 20px #2d2d2ebd;
      cursor: pointer;
      color: #FF8A65;
      height: 30px;
      width: 30px;
      text-align: center;
      padding: 5px 10px 5px 7px;
  }
  .btn-play{
    padding: 6px 10px;
  }

  .search-span-dactive{
    display:none;
  }

  .search-input-i-active{
    display:inline;
  }
  .search-input-active{
    display:inline;
  }

  .all-songs{
      padding-left: 20px;
      padding-top: 5px;
      color: #fff;
  }

  .playimg:hover{
    animation: slideUp ease .5s forwards 1.2s;
  }

  .select select{
      margin-top: 3px;
  }

  .playlist span{
      height: 20px;
      width: 60px;
      color: #fff;

  }
  .select2-selection__choice li{
    background: transparent !important;
  }
  .select2-selection__choice__display{ 
      color: #fff !important; 
      background-color: #FF8A65 !important;
        border: 1px solid #FF8A65 !important;;
    }
    .select2-selection__choice__remove{
        background-color: #FF8A65 !important;
        color: #fff !important; 
        border: 1px solid #FF8A65 !important;
    }

    .select2-container--default .select2-selection--multiple .select2-selection__choice{
        background-color: transparent !important;
        border: 1px solid #FF8A65 !important;
    }
    .select2-container--default .select2-selection--multiple{
        border: 1px solid #FF8A65 !important;
        border-radius: 5px !important;
    }

    .select2-container--default .select2-results__option--highlighted.select2-results__option--selectable{
        background-color: #FF8A65 !important;
    }
  
    .select label{
        font-size: 14px;
    color: #FF8A65;
    }

    input:-internal-autofill-selected {
        appearance: none !important;
    background-image: transparent !important;
        background-color: transparent !important;
        color: #fff !important;
    }